body{
    background-color: black;

}
h1{
    text-align: center;
    color: rgb(223, 210, 210);
    background-color: blue;
    
}
p{
    text-align: center;
    background-color: rgb(196, 196, 241);
    color: blue
}